---
const { name, description, avatarUrl } = Astro.props;
---

<div class="mx-auto w-full max-w-2xl px-6 py-4 md:py-8 overflow-hidden">
  <div class="float-right ml-4 mb-2 md:ml-6 md:mb-4">
    <div class="avatar shape-circle">
      <div
        class="w-28 h-28 sm:w-32 sm:h-32 md:w-48 md:h-48 rounded-full border-2 border-primary/10 shadow-sm overflow-hidden"
      >
        <img src={avatarUrl} alt={name} class="object-cover w-full h-full" />
      </div>
    </div>
  </div>

  <div class="space-y-4 pt-2">
    <h1
      class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none leading-tight"
    >
      {`Hi, I'm ${name.split(" ")[0]}`}
    </h1>
    <p
      class="max-w-[600px] text-base md:text-xl text-muted-foreground text-pretty"
    >
      {description}
    </p>
  </div>
</div>

<style>
  .shape-circle {
    shape-outside: circle(50%);
  }
</style>
