---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg" href="/images/me1.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Gyanendra's Portfolio</title>
	</head>
	<body class="min-h-screen bg-background font-['Arial'] antialiased max-w-4xl mx-auto py-12 sm:py-24 ">
		<slot />
	</body>
</html>
